---
layout: default
---
<div class="post_title">{{ page.title }}
	{% if page.datum %}<span>&gt;&gt; 日期：{{ page.datum | date: "%Y年%m月%d日 " }}</span>{% endif %}
</div>
<div class="post_content"> {{ content }} </div>
<div class="post_links">
	<span class="post_links_next">
		{% if page.next %}
		&lt;&lt; <a href="{{site.baseurl}}{{page.next.url}}">上一篇：{{page.next.title | truncate:20}}</a> {% else %}
		&lt;&lt; 这是第一篇
		{% endif %} 
	</span> 
	<span class="post_links_pre"> {% if page.previous %} <a href="{{site.baseurl}}{{page.previous.url}}">下一篇：{{ page.previous.title | truncate:20 }}</a> &gt;&gt;
		{% else %}
		这是最后一篇 &gt;&gt;
		{% endif %}
	</span>
	<span class="clearFloat;" /> 
</div>